.Products {
  width: 100%;
  padding-top: 30px;

  .Products__title {
    width: 100%;
    margin-bottom: 24px;

    & p {
      color: #333;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .Products__cards__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;

    .Product__card {
      width: 237px;
      height: 356px;
      background-color: #fff;
      border: 1px solid transparent;
      box-shadow: 0 0 0 transparent;
      transition: all .2s ease;
      z-index: 1;
      display: block;
      border-right: 1px solid #ececec;
      cursor: pointer;
      transition: box-shadow .3s;
      border-radius: 6px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 180px;
        margin-bottom: 26px;
      }

      .product__name {
        font-size: 14px;
        color: #333;
        width: 90%;
        font-weight: bold;
        margin-bottom: 25px;
        margin-left: 26px;
      }

      .product__price {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
        width: 90%;
        margin-left: 26px;
        margin-bottom: 10px;
      }
      .shop__btn {
        background: #fbc100;
        border: 2px solid #fbc100;
        padding: 7px 12px;
        border-radius: 6px;
        padding: 7px 12px;
        display: inline-flex;
        align-items: center;
        height: 56px;
        max-width: 150px;
        margin-left: 26px;
        position: relative;
        transition: background-color .6s ease;
        overflow: hidden;
        .shp__btn__icon {
          font-size: 20px;
          color: #333;
        }

        & p {
          white-space: nowrap;
          font-weight: bold;
          line-height: 20px;
          margin-left: 10px;
        }
        
      }
      
      
    }

  }

}
.swiper{
  transition: all .2s ease;
}
.swiper:hover {
  z-index: 10;
  transform: scale(1.05);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
  border-radius: 6px;
}


