.little__Carusel__one__card{

    width: 160.5px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(236, 236, 236, 0.7);
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    & img{
        width: 80px;
        height: 30px;
    }
}
.little__Carusel__one{
    position: relative;
    max-width: calc(100% - 104px);
    margin: 0 auto;
    margin-bottom: 38px;
}