.header{
    width: 100%;
    height:170px;
    background-color:#F7F7F7;
    margin-bottom:10px;
}
.top__header{
    width: 100%;
    height: 36px;
    background-color: #333333;
    .top__header__container{
        max-width: 1432px;
        width: calc(100% - 104px);
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .top__header__lists__wrapper{
            width: 70%;
            display: flex;
            height: 100%;
            text-align: center;
            .top__header__list{
                margin-right: 16px;
                display: flex;
                align-items: center;
                .top__header__lis__link{
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    .top__header__location__icon{
                        font-size: 20px;
                        fill: #ffffff;
                        margin-right: 4px;
                    }
                }
            }
            .firs__list{
                margin-right: 40px;
                position: relative;
                .top__header__click__show__card{
                    position: absolute;
                    top: 34px;
                    left: 0;
                    z-index: 8;
                    background: #fff;
                    box-shadow: 0 6px 8px -6px rgb(24 39 75 / 12%), 0 8px 16px -6px rgb(24 39 75 / 8%);
                    border-radius: 6px;
                    padding: 10px 0;
                    width: 175px;

                    .top__header__click__Btnshow__link{
                        padding: 7px 15px;
                        color: #333;
                        display: inline-block;
                        transition: all .3s ease;
                        width: 100%;
                        
                        &:hover{
                            background-color: #ffc04d;
                        }
                    }
                }
            }
            .list__btn{
                background-color: hsla(0,0%,84.7%,.2);
                padding-left: 8px;
                padding-right: 8px;
                height: 21px;
                border-radius: 6px;
            }
        }
        .top__header__call__center__wrapper{
            display: flex;
            width: 30%;
            justify-content: space-evenly;
            .top__header__call__center{
                display: flex;
                align-items: center;
                color: #ffffff;
                font-size: 13px;
                width: 70%;
                & span{
                    font-size: calc(100% + 2px);
                }
            }
            .top__header__language{
                display: flex;
                align-items: center;
                padding: 2px 4px;
                border: 1px solid hsla(0,0%,84.7%,.2);
                box-sizing: border-box;
                border-radius: 150px;
                margin: 2px 0;
                width: 70px;
                justify-content: center;
                cursor: pointer;

                & p{
                    color: #fff;
                    display: flex;
                    align-items: center;
                    .top__header__language__icon{
                        margin-right: 6px;
                    }
                    .top__header__language__icon__drop{
                        margin-left: 6px;
                    }
                }
            }
        }
    } 
}
.bottom__header{
    width: 100%;
    height: 64px;
    background-color: #F7F7F7;
    z-index: 10;
    .bottom__header__container{
        max-width: 1432px;
        width: calc(100% - 104px);
        height: 100%;
        margin: 0 auto;
        padding-top: 17px;
        display: flex;
        justify-content:space-between;
        .bottom__header__logo__wrapper{
            //max-width: 230px;
            width:15%;
            height: 38px;
            cursor: pointer;
            margin-right: 10px;
            display: flex;
            align-items: center;
            .bottom__header__logo__link{
                width: 100%;
                & img{
                    width: 100%;
                }
            }
        }
        .bottom__header__form{
            //width: 640px;
            width: 45%;
            height: 44px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding-left: 2px;
            background-color: #fbc100;
            .bottom__header__form__search__input__wrapper{
                width: 91%;
                //width: 581px;
                height: 40px;
                border-radius:6px;
                border:none;
                background-color:#FFFFFF;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .bottom__header__form__search__input{
                    width: calc(100% - 50px);
                    border-radius:6px;
                    border:none;
                    outline: none;
                    font-size: 16px;
                    line-height: 30px;
                    text-indent: 20px;
                
                }
                .bottom__header__micraphone__icon{
                    width: 40px;
                    cursor: pointer;
                    color: #BABAC0;
                    font-size: 24px;
                    &:hover{
                        color: #FF7878;
                    }
                }
            }
            .bottom__header__search__icon__wrapper{
                width: 10%;
                //width: 51px;
                height: 43px;
                padding-left: 14px;
                padding-top: 5px;
                background-color: #fbc100;
                display: flex;
                align-items: center;
                border-radius: 6px;
                .bottom__header__search__icon{
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        .bottom__header__right{
            //max-width: 478px;
            width: 32%;
            height: 100%;
            display: flex;
            .bottom__header__right__link{
                text-align:center;
                display: block;
                margin-left: 20px;
                &:nth-child(2){
                    position: relative;
                }
                .bottom__header__right__icons{
                    width: 100%;
                    text-align: center;
                    font-size: 24px;
                    color: #333;
                }
                & p{
                  max-width: 120px;
                  font-size: 14px;
                  color: #333;  
                  font-weight: 500;
                  text-align:center;
                }
                .useName_p{
                    max-width: 120px;
                    overflow-x:hidden;
                }
            }
            .log__out__wrapper{
                position: absolute;
                background-color: #fff;
                box-shadow: 0 6px 8px -6px rgb(24 39 75 / 12%), 0 8px 16px -6px rgb(24 39 75 / 8%);
                border-radius: 6px; 
                overflow: hidden;
                width: 100%;
                min-width: 90px;
                z-index: 10;
                /* display: none; */
                top: 45px;
                p{
                    color: #FFC600;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-top: 3px double #fff;
                }
                & p:hover{
                    padding-bottom: 10px;
                    padding-top: 10px;
                    color: #FB5252;
                    font-weight:bold;
                    border: 3px double #FFC600;
                    
                }
                
            }
            
        }
        
    }

}
.bottom__header__items{
    width:100%;
    height: 70px;
    .bottom__header__items__container{
        max-width: 1432px;
        width: calc(100% - 104px);
        height: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        align-items: center;
        .bottom__header__items__Category{
            padding: 10px 16px;
            background: #fbc100;
            border-radius: 8px;
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 44px;
            z-index: 2;
            margin-right: 50px;
            
            & p{
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: .3px;
                color: #333;
                margin-left: 12px;
            }
            .disable__catalog__menu{
                z-index:10;
                border: 1px solid red;
            }
            
        }
        .bottom__header__items__Category__card__wrapper{
            margin-top:15px;
            background-color: #FFFFFF;
            box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            height: 490px;
            z-index: 100;
            transition: opacity .3s;
            .category__menu__wrapper{
                width: 30%;
                height: 100%;
                background-color: #FFFFFF;
                overflow-y: scroll;
                .categorymenu__list__wrapper{
                    display: flex;
                    width: 100%;
                    height: 48px;
                    align-items: center;
                    padding: 12px 16px;
                    position: relative;
                    &:hover{
                        cursor: pointer;
                        background: rgba(251,193,0,.2);
                        border-radius:6px;
                    }
                    &:hover .categoryMenu__list__right__icon{
                        transition: .5s;
                        animation-name: example;
                        animation-duration: .3s;
                        transform: translateY(-50%);
                    }
                    .categoryMenu__list__left__icon{
                      margin-right: 16px;  
                    }
                    & li{
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: #333;
                        font-size: 14px;
                    }
                    .categoryMenu__list__right__icon{
                        position: absolute;
                        top: 50%;
                        right: 28px;
                        transform: translateY(-50%);
                        width: 18px;
                        height: 19px;
                    }
                }
            }
            .category__menu__wrapper::-webkit-scrollbar{
                display: none;
            }
            .bottom__header__category__right__wrapper{
                width: 65%;
                background-color: #fff;
                display: flex;
                padding: 33px 0 28px 40px;
                flex-wrap: wrap;
                justify-content: space-between;
                .category__open__title{
                    width: 100%;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    color: #333;
                }
                .categoy__open__wrapper__ul{
                    
                }
                .category__open__lists{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(51,51,51,.8);
                    border: 1px solid transparent;
                    margin-bottom: 12px;
                }
            }
        }
        .bottom__header__items__item__two{
            background-color: #000;
            border-radius: 8px;
            display: flex;
            height: 28px;
            align-items: center;
            padding: 4px 10px 4px 10px;
            margin-right: 20px;
            cursor: pointer;
            .bottom__header__items__item__two__icon{
                font-size: 20px;
                color: #FFC600;
            }
            & p{
                color: #fbc100;
            }
        }
        .bottom__header__items__item__three{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 39px;
            width: auto;
            .bottom__header__items__item__three__icon{
                font-size: 20px;
                color: #FB5252;
                margin-right: 5px;
            }
            & p{
                width: 100%;
                font-size: 14px;
                color: #373f41;
                width: 100%;
                &:hover{
                    color: #758184;   
                    cursor: pointer;
                }
            }

        }
        .last{
            margin-right: 0;
        }
        
    }
}

@keyframes example{
    0%{
        transform: translateX(-40%) translateY(-50%);
    }10%{
        transform: translateX(-30%) translateY(-50%);
    }20%{
        transform: translateX(-20%) translateY(-50%);
    }30%{
        transform: translateX(-10%) translateY(-50%);
    }40%{
        transform: translateX(0) translateY(-50%);
    }50%{
        transform: translateX(5%) translateY(-50%);
    }60%{
        transform: translateX(15%) translateY(-50%);
    }70%{
        transform: translateX(25%) translateY(-50%);
    }80%{
        transform: translateX(35%) translateY(-50%);
    }
}

@media only screen and (max-width:1347px){
    .header{
        .top__header{
            .top__header__container{
                .top__header__lists__wrapper{
                    .top__header__list{
                        .top__header__lis__link{
                            font-size: 10px;
                        }
                    }
                } 
                .top__header__call__center__wrapper{
                    .top__header__call__center{
                        font-size: 10px;
                        & span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        
    }
}


@media only screen and (max-width:1240px){
    .header{
        .bottom__header{
            .bottom__header__container{

                .bottom__header__right{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .bottom__header__right__link{
                        
                        & p{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}