.is-sticky {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #F7F7F7;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 13px;
}