.notfound{
  width: 100%;
  height: 100vh;
  width: 100%;
}
.page_404 {
 
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
  
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  max-width: 100%;
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
}


h1 {
  width: 100%;
  text-align: center;
  font-size: 80px;
}

.h3 {
width: 100%;
text-align: center;  
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.p{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}


.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:20px;
  
}

.link_wrapper{
  position: relative;
}

.Link{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  margin-bottom: 20px;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

.Link:hover{
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.Link:hover + .icon{
  border: 3px solid #2ecc71;
  right: -25%;
}