.Login__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    .Login__bg{
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.481);
    }
    .Login__card{
        max-width: 480px;
        width: 100%;
        max-height: 410px;
        height: 100%;
        background-color: #fff;
        border-radius: 6px;
        position: relative;
        z-index: 1;
        padding: 28px 40px;
        border-radius: 6px;
        overflow: hidden;
        .closeBtn__wrapper{
            display: flex;
            align-items:center;
            justify-content:center;
            width: 32px;
            height:32px;
            border-radius: 100%;
            background-color: #fff!important;
            border: 1px solid #ececec;
            font-size:30px;
            position:absolute;
            z-index:10;
            cursor:pointer;
            font-size: 20px;
            top:15px;
            right:15px;
        }
        .Choose__way{
            width:100%;
            height:62px;
            background-color: #F7F7F7;
            position: absolute;
            inset: 0;
            display: flex;
            .register__way,
            .Login__way{
                display: none;
                &:checked+label {
                    background-color: #fff;
                  }
            }
            .log,
            .reg{
                display: inline-block;
                background-color: transparent;
                letter-spacing: .2px;
                padding: 19px 26px;
                cursor: pointer;
                font-size: 16px;
                color: #333;
                font-weight: bold;
            }
        }
        
    }
}



