*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}
body::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 5px;
}