.Banner{
    width: 100%;
    height: auto;
    .Banner__container{
        width:100%;
        height:100%;
        position:relative;
        margin-bottom:50px;
    }
    .Banner__caontainer__imgs{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}
